---
title: Second
description: Second post.
date: '2023-4-16'
categories:
  - sveltekit
  - svelte
published: true
---

## Sections

## Svelte
testing

## Test
test
Media inside the **static** folder is served from `/`.

![Svelte](/favicon.png)
